SA_PASSWORD=TroquePorUmaSenhaForte123!
JWT_KEY=TroquePorUmaChaveLongaComPeloMenos32Caracteres
ADMIN_USERNAME=admin
ADMIN_PASSWORD=TroqueEstaSenha
ENCRYPTION_KEY=TroquePorUmaChaveDeCriptografiaCom32Chars
COOKIE_SECURE=false
ALLOWED_ORIGINS=
