<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apenas para github pages</title>
    <link rel="icon" type="image/svg+xml" href="imagens/favicon.svg">
    <link rel="icon" type="image/x-icon" href="imagens/favicon.ico">
    <link rel="icon" type="image/png" href="imagens/favicon.png">
</head>
<body>
    <a href="login/login.html">Login</a>
    <a href="home/home.html">Home</a>
</body>
</html>